//
   Created by agescura on 19/1/16.
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        title Narrow Jumbotron Template for Bootstrap
        link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')

        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body
        .container
            .header.clearfix
                nav
                    ul.nav.nav-pills.pull-right
                        li.active(role='presentation')
                            a(href='#') Home
                        li(role='presentation')
                            a(href='#') About
                        li(role='presentation')
                            a(href='#') Contact
                h3.text-muted UJI Open Data
            .jumbotron
                h1 UJI Open Data
                p.lead
                    | UJI Open Data is a final master thesis for Erasmus Mundus Master of Science in Geospatial Technologies
            .row
                h1 List of Datasets
                if structures
                    table#datatable-editable.table.table-bordered.table-striped
                        thead
                            tr
                                th Name
                                th Description
                                th Contact
                                th Actions
                        tbody
                            each structure in structures
                                tr.gradeX
                                    td #{structure.name}
                                    td #{structure.description}
                                    td #{structure.contact}
                                    td
                                        a.btn.btn-grey.waves-effect.waves-light.w-xs.m-b-5(href='/docs/#{structure.name}',role='button') View
                else
                    h4 There are no structures
            footer.footer
                p © 2016 Universitat Jaume I
